.keyboard {
  display: flex;
  list-style: none;
  padding: 0;
  height: 150px;
}
.keyboard .key {
  border: 1px solid black;
  --width: 32px;
  width: var(--width);
  border-radius: 0 0 3px 3px;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 4px;
  font-size: 14px;
  cursor: pointer;
}
.keyboard .key.white {
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.4);
  color: #000;
  background-color: #fff;
}
.keyboard .key.black {
  --width: 24px;
  background-color: #000;
  color: #fff;
  margin-left: calc(-1 * var(--width));
  height: 70%;
  position: relative;
  left: calc(var(--width) / 2);
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.4);
}
.keyboard .key.active {
  background-color: #888;
}
.keyboard .key.active.black {
  border: 2px solid black;
}
